<div id="loader-bg">
  <div id="loader">
    <%= image_tag '/wifi-load.gif' %>
    <p>Now Loading...</p>
  </div>
</div>
<div id="wrap">
  <header>
    <h1 class = "header-title">L⚡︎ghtning SystemTrade</h1>
  </header>
  <script src="https://widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>
  <coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,eos,ripple,litecoin" currency="jpy" background-color="#000" locale="ja"></coingecko-coin-price-marquee-widget>
  <div class = "main">
    <div class = "main__top">
      <canvas id="myChart" width="900" height="450"></canvas>
      <script>draw_graph();</script>
    </div>
    <div class = "main__bottom">
      <table>
        <thead>
          <tr><th>STATUS</th><th>DATE</th><th>BUY/SELL</th><th>SIZE</th><th>PRICE</th></tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr><td><%= order["child_order_state"] %></td><td><%= order["child_order_date"] %></td><td><%= order["side"] %></td><td><%= order["size"] %></td><td><%= order["price"] %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class = "side">
    <div class = "money-board">
      <ul class = "animation">
        <li>日本円残高（JPY）：<u><%= @jpy %>円</u></li>
        <li>BTC残高（BTC）：<u><%= @btc %>BTC</u></li>
        <li>現在の1BTC価格（JPY）：<u><%= @price %>円</u></li>
      </ul>
    </div>
    <div class = "order-board">
      <%= form_for(@trade) do |f| %>
        <h1 class = "order-title__red">BUY</h1>
        <%= f.hidden_field :side, value: "BUY" %>
        <div class = "input-box">
          <label>数量：</label>
          <%= f.number_field :size, step: :any, class: "input-box__field" %>
        </div>
        <div class = "input-box">
          <label>価格：</label>
          <%= f.number_field :price, class: "input-box__field" %>
        </div>
        <div class = "order-box">
          <%= f.submit '注文', class: 'order-btn__red' %>
        </div>
      <% end %>
      <%= form_for(@trade) do |f| %>
        <h1 class = "order-title__blue">SELL</h1>
        <%= f.hidden_field :side, value: "SELL" %>
        <div class = "input-box">
          <label>数量：</label>
          <%= f.number_field :size, step: :any, class: "input-box__field" %>
        </div>
        <div class = "input-box">
          <label>価格：</label>
          <%= f.number_field :price, class: "input-box__field" %>
        </div>
        <div class = "order-box">
          <%= f.submit '注文', class: 'order-btn__blue' %>
        </div>
      <% end %>
    </div>
    <%# <button id="#scroll_button">btn</button> %>
    <div class="tradingview-widget-container">
      <%# <div class="tradingview-widget-container__widget"></div> %>
      <%# <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/BITFLYER-BTCJPY/technicals/" rel="noopener" target="_blank"><span class="blue-text">BTCJPYのテクニカル分析</span></a></div> %>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
        "showIntervalTabs": true,
        "width": "100%",
        "colorTheme": "dark",
        "isTransparent": true,
        "locale": "ja",
        "symbol": "BITFLYER:BTCJPY",
        "interval": "1h",
        "height": "100%"
      }
      </script>
    </div>
  </div>
</div>
